@use "../../foundation/variables" as v;



.article {
    border-radius: 8px;
    width: 100%;
    box-shadow: v.$shadow;
    border: 1px solid v.$border-right;
    padding: 16px;

    @include v.pc {
        padding: 24px;
    }

    &-area {
        gap: 24px;
    }

    &-head {
        margin-bottom: 8px;

        &_title {
            border-bottom: 1px solid v.$border-dark;
            width: 100%;
            align-items: flex-start;
            margin-bottom: 8px;

            @include v.lt {
                flex-direction: row;
                justify-content: space-between;
                align-items: center;
                margin-bottom: 12px;
            }
        }

        &_search {
            justify-content: space-between;


            &--results {
                font-size: 14px;
                color: v.$text-dark;

                span {
                    font-size: 20px;
                    color: v.$text-price;
                    display: inline-block;
                    padding: 0 4px;
                    font-weight: 500;

                    @include v.tab {
                        font-size: 40px;
                    }
                }

            }

            &--sort {
                font-size: 14px;
                gap: 12px;

                .input-select_large--wrap {
                    width: 132px;
                }
            }

            &--display {
                padding-left: 44px;

                font-size: 14px;
                gap: 12px;

                .input-select_large--wrap {
                    width: 77px;
                }


            }

        }


    }

    &-property {
        width: 100%;
        gap: 12px;

        @include v.lt {
            flex-direction: row;
            justify-content: space-between;
            align-items: flex-start;
        }

        @include v.pc {
            gap: 32px;
        }

        &_left {
            width: 100%;

            @include v.lt {
                width: min(50%, 344px);
            }



        }

        &_labels {
            gap: 10px;
        }

        &_right {
            width: 100%;

            @include v.lt {
                width: 100%;
                flex: 1;
            }

            .title-property {
                @include v.tab {
                    margin-bottom: 0px;
                }
            }
        }

        &_table {
            margin-bottom: 24px;
            color: v.$text-dark;

            @include v.lt {
                margin-bottom: 12px;
            }

            @include v.pc {
                margin-bottom: 20px;
            }

            div {
                border-bottom: 1px solid v.$border-dark;
                padding: 8px 0 8px 8px;
                font-size: 14px;

                @include v.lt {
                    padding: 8px 0 8px 8px;
                }
            }

            dt {
                width: 25%;
                font-weight: 600;
                color: v.$text-normal;
            }

            dd {
                color: v.$text-dark;

                a {
                    text-decoration: underline;

                }
            }
        }

        &_double {

            dt,
            dd {
                width: 50%;
            }

        }

        &_fav {
            margin: 0 auto 24px;

            @include v.lt {
                margin: 0 0 8px auto;
                padding: 8px 16px;
            }
        }

        &_btn {
            @include v.tab {
                background-color: v.$base-white;
                border: 1px solid v.$link-blue;
                border-radius: 2px;
                font-size: 10px;
                line-height: 10px;
                color: v.$link-blue;
                width: fit-content;
                padding: 4px;
                gap: 2px;
                margin: 0 0 0 auto;

            }

            img {
                display: none;

                @include v.tab {
                    display: block;
                    filter: v.$filter-link-blue;
                    width: 12px;
                    height: 12px;
                    position: relative;
                    top: 1px;
                }

            }
        }
    }

    &-cta {
        margin: 16px 0;
        padding: 16px;
        gap: 16px;
        border-radius: 8px;

        @include v.lt {
            margin: 40px 0 0;
            padding: 24px;
        }

        p {
            font-weight: bold;
            text-align: center;
            color: v.$text-dark;
        }
    }

    &-contact {
        gap: 16px;
        width: 100%;

        @include v.tab {
            flex-direction: row;
            justify-content: center;
        }

        a {
            width: 100%;
        }

        .btn-contact {
            img {
                width: 34px;
            }

            span {
                font-size: 14px;

                span {
                    font-size: 10px;
                    font-weight: 400;
                }

            }
        }

        .btn-tel {
            span {
                font-size: 10px;

                .btn-tel_num {
                    font-size: 20px;
                }
            }
        }
    }

    .roomlist {
        margin: 24px 0 16px;

        @include v.lt {
            margin: 40px 0 16px;
        }

        .btn-display {
            margin: 24px 0 0;
        }
    }

    .roomlist-table {
        margin: 0;
    }

    &-map {
        &_label {
            gap: 8px;
        }

        h4 {
            font-size: 14px;
            margin-bottom: 16px;
        }

        &_contents {
            gap: 4px;
            align-items: flex-start;

            >img,
            >div {
                width: 120px;
            }

            ul {
                margin-bottom: 4px;
            }

            li {
                font-size: 10px;
                margin-bottom: 2px;
            }

            .btn-link_outline {
                font-size: 10px;
                padding: 2px 0;
            }
        }

    }
}