@use "../../foundation/variables" as v;


.breadcrumbs {
    display: none;
    background-color: v.$base-white;
    padding: 12px 0;
    gap: 5px;
    @include v.tab{
        display: flex;
    }

    &-home {
        img{
            width: 16px;
            height: 16px;
            filter: v.$filter-link-blue;
        }
        
    }

    li {
        font-size: 12px;
        font-weight: 400;
        color: v.$text-right;

        &::before {
            content: "";
            background: url("/assets/img/icon/arrow.svg") 100% center no-repeat;
            display: block;
            width: 16px;
            height: 12px;
            filter: v.$filter-text-normal;
        }

        &:first-child {
            &::before {
                content: none;
            }
        }
    }

}