@use "../../foundation/variables" as v;

.btn {
    border-radius: 8px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 8px;
    transition: all .3s;
    cursor: pointer;

    &:hover {
        opacity: 0.8;
    }

    &-small {
        border-radius: 4px;
        gap: 4px;
    }

    &-medium {
        font-size: 14px;
    }


    &-send {
        background-color: v.$accent-yellow;
        color: v.$base-white;
        width: 250px;
        height: 60px;
        border: none;
        font-weight: 600;
        margin: 40px auto;

        @include v.tab {
            width: 460px;
        }

    }

    &-navy {
        background-color: v.$main-navy;
        color: v.$base-white;
        padding: 4px 16px;
        font-size: 14px;

        img {
            filter: v.$filter-base-white;
            width: 12px;
            height: 12px;
        }
    }

    &-link {
        background-color: v.$link-blue;
        color: v.$base-white;
        padding: 16px 0;
        width: min(100%, 420px);
        font-weight: bold;
        font-size: 16px;
        margin: 0 auto;

        @include v.tab {
            padding: 16px;
            font-size: 18px;
        }

        &_small {
            font-size: 12px;
            border-radius: 4px;
            gap: 4px;
        }

        &_outline {
            border-radius: 4px;
            font-size: 14px;
            background-color: v.$base-white;
            color: v.$link-blue;
            border: 1px solid v.$link-blue;
            font-weight: bold;
            padding: 4px 0;
            box-shadow: 2px 2px 4px 0px rgba(0, 0, 0, 0.10);
            font-weight: 600;

            &:hover {
                background-color: v.$link-blue;
                color: v.$base-white;

                img {
                    filter: v.$filter-base-white;
                }
            }

            img {
                filter: v.$filter-link-blue;
            }
        }

    }


    &-cta {
        background-color: v.$accent-yellow;
        color: v.$base-white;
        padding: 16px 0;
        box-shadow: v.$shadow;
        font-size: 12px;
        transition: .3s all;
        margin: 0 auto;
        font-weight: 700;
    }

    &-contact {
        background-color: v.$accent-yellow;
        color: v.$base-white;
        padding: 12px 0;
        font-weight: 700;
        font-size: 16px;
        gap: 12px;
        box-shadow: v.$shadow;
        font-size: 16px;

        img {
            width: 40px;
            filter: v.$filter-base-white;
        }
    }

    &-tel {
        $this: &;
        gap: 16px;
        border: 1px solid v.$border-right;
        padding: 8px 0;
        background-color: v.$base-white;

        img {
            width: 34px;
            filter: v.$filter-main-navy;
        }

        span {
            display: block;
            color: v.$text-dark;
            font-size: 14px;
            font-weight: 500;

            #{$this}_num {
                font-size: 24px;
                font-weight: 600;
            }

            #{$this}_time {
                color: v.$text-right;
                font-size: 12px;
                font-weight: 500;
            }
        }




    }

    &-white {
        background-color: v.$base-white;
        color: v.$text-normal;
        font-weight: 500;
        box-shadow: 0px 0px 3.164px 0px rgba(23, 35, 62, 0.10);
        font-size: 12px;
        border-radius: 8px;
        padding: 8px 0;
        flex: 1;

        @include v.tab {
            font-size: 14px;
            padding: 16px 0;
            gap: 8px;
        }

        img {
            width: 22px;
            height: 22px;

        }
    }

    &-display {
        font-size: 14px;
        padding: 16px;
        font-weight: 600;
        color: v.$text-dark;
        border: 1px solid v.$border-dark;
        max-width: 480px;
        margin: auto;
        width: 100%;

        img {
            filter: v.$filter-main-navy;
            transform: rotate(90deg);
        }
    }

    &-vacancy {
        gap: 5px;
        padding: 10px 12px;
        border: 1px solid v.$text-normal;
        border-radius: 4px;

        p {
            font-size: 14px;
            font-weight: 600;
            color: v.$text-normal;
        }

        span {
            color: v.$text-price;
        }

        img {
            width: 24px;
            transform: rotate(90deg);
            filter: v.$filter-main-navy;
        }
    }


    &-fav {

        &_large {
            padding: 12px 0;
            border: 1px solid v.$border-dark;
            border-radius: 50px;
            box-shadow: 0px 2.473px 0px 0px rgba(0, 0, 0, 0.10);
            margin: 0 auto;
            color: v.$text-normal;
            font-weight: 600;
            font-size: 12px;
            max-width: 80%;

            @include v.lt {
                max-width: min(100%, 180px);
            }

            img {
                width: 22px;
                filter: v.$filter-accent-pink;
            }

            &--img {
                width: 22px;
                height: 22px;
                background-image: url(../../../assets/img/icon/fav.svg);
                background-size: cover;
                filter: v.$filter-accent-pink;
            }

            &--text {
                &__active {
                    display: none;
                }
            }

            &.active {
                color: v.$base-white;
                background-color: v.$accent-pink;
                box-shadow: inset 2.473px 2.473px 0px 0px rgba(0, 0, 0, 0.10);

                .btn-fav_large--img {
                    background-image: url(../../../assets/img/icon/fav_active.svg);
                    filter: v.$filter-base-white;

                }

                .btn-fav_large--text {
                    display: none;

                    &__active {
                        display: inline;
                    }
                }

            }
        }

        &_small {
            background-color: v.$base-white;
            padding: 12px 0;
            border-radius: 4px;
            box-shadow: v.$shadow;
            color: v.$text-normal;
            font-size: 14px;
            gap: 8px;

            @include v.tab {
                box-shadow: none;
            }

            img {
                filter: v.$filter-accent-pink;
                width: 18px;
                height: 18px;
            }

            &--img {
                width: 18px !important;
                height: 18px !important;
                background-image: url(../../../assets/img/icon/fav.svg);
                background-size: cover;
                filter: v.$filter-accent-pink;
            }

            &--text {
                &:before {
                    content: "追加";
                    display: inline-block;
                }
            }

            &.active {
                color: v.$base-white;
                background-color: v.$accent-pink;

                @include v.tab {
                    color: v.$text-normal;
                    background-color: v.$base-white;
                }

                .btn-fav_small--img {
                    background-image: url(../../../assets/img/icon/fav_active.svg);
                    filter: v.$filter-base-white;

                    @include v.tab {
                        filter: v.$filter-accent-pink;
                    }
                }

                .btn-fav_small--text {
                    &:before {
                        content: "解除";
                    }
                }
            }
        }

    }

    &-open {
        display: inline-flex;
        margin: 8px 0;
        border: 1px solid v.$link-blue;
        font-size: 10px;
        line-height: 10px;
        font-weight: 600;
        border-radius: 2px;
        align-items: center;
        gap: 4px;
        padding: 10px;

        @include v.lt {
            gap: 2px;
            padding: 4px;
        }

        img {
            filter: v.$filter-link-blue;
        }
    }

    &-follow {

        &_contact,
        &_white {
            font-size: 14px;
            font-weight: 600;
            gap: 8px;
            padding: 8px;
            height: 40px;
            border-radius: 4px;
            width: 176px;

            @media screen and (max-width:374px) {
                width: 50%;
                height: auto;
            }

            @include v.lt {
                width: 280px;
                height: 56px;
                border-radius: 8px;
            }

            &--fav {
                &__img {
                    width: 20px !important;
                    height: 20px !important;
                    background-image: url(../../../assets/img/icon/fav.svg);
                    background-size: cover;
                    filter: v.$filter-accent-pink;

                }

                &__text {
                    &:before {
                        content: "お気に入りに追加";
                        display: inline-block;
                    }
                }

                &.active {
                    color: v.$base-white;
                    background-color: v.$accent-pink;

                    .btn-follow_white--fav__img {
                        background-image: url(../../../assets/img/icon/fav_active.svg);
                        filter: v.$filter-base-white;
                    }

                    .btn-follow_white--fav__text {
                        &:before {
                            content: "お気に入り追加済";
                        }
                    }
                }

            }
        }

        &_contact {
            background-color: v.$accent-yellow;
            color: v.$base-white;

            div {
                text-align: center;
            }

            img {
                width: 16px;
                filter: v.$filter-base-white;

                @include v.lt {
                    width: 34px;
                }
            }

            small {
                position: relative;
                font-size: 10px;
                display: block;
                font-weight: normal !important;
                top: 2px;
            }

            span {
                display: none;

                @include v.lt {
                    display: inline-block;
                }
            }

        }

        &_white {
            background-color: v.$base-white;
            color: v.$text-normal;

            @include v.lt {
                font-size: 16px;
            }

            img {
                width: 16px;
                // filter: v.$filter-text-normal;

                @include v.lt {
                    width: 20px;
                }
            }

        }
    }

    &-pagelink {
        font-size: 12px;
        font-weight: 600;
        color: v.$text-dark;
        background-color: v.$base-white;
        border: 1px solid v.$border-right;
        height: 48px;
        margin-bottom: 16px;
        padding: 0 24px;
        gap: 12px;
        justify-content: space-between;

        @include v.tab {
            margin-bottom: 0;
        }

        img {
            width: 18px;
            transform: rotate(90deg);
        }
    }
}