@use'../../foundation/variables' as v;


.checkbox {
    display: inline-block;
    border-radius: 4px;
    border: 1px solid v.$border-dark;
    background-color: v.$base-white;
    width: 28px;
    height: 28px;
    cursor: pointer;

    @include v.tab {
        width: 16px;
        height: 16px;
        border-radius: 3px;
    }

    &.checkd {
        background-color: v.$sub-blue;
        border: 1px solid v.$sub-blue;
        position: relative;

        &::before,
        &::after {
            content: '';
            display: block;
            background-color: v.$base-white;
            border-radius: 4px;
            position: absolute;
            top: 50%;
            height: 3px;

            @include v.tab {
                height: 2px;
            }
        }

        &::before {
            width: 10px;
            transform: rotate(45deg);
            left: 4px;

            @include v.tab {
                width: 7px;
                left: 1px;
            }
        }

        &:after {
            width: 12px;
            left: 9px;
            top: 12px;
            transform: rotate(-45deg);

            @include v.tab {
                width: 8px;
                left: 5px;
                top: 6px;
            }


        }



    }

}