@use'../../foundation/variables' as v;
$text-orange: #f4751c;
$border-blue-right: #bbdbe9;

.cta {
    text-align: center;
    border-radius: 8px;
    position: relative;
    padding: 40px 0 20px 0;

    @include v.tab {
        padding: 38px 0;
    }

    &-title {
        font-size: 18px;
        color: v.$base-white;
        position: relative;
        margin-bottom: 32px;
        font-weight: 600;

        @include v.tab {
            font-size: 20px;
            margin-bottom: 45px
        }

        &:after {
            position: absolute;
            content: "";
            border-bottom: 2px solid v.$base-white;
            width: 40px;
            left: 50%;
            transform: translateX(-50%);
            bottom: -16px;
        }
    }

    &-items {
        padding: 0 16px 16px;
        gap: 16px;

        @include v.tab {
            flex-direction: row;
            justify-content: center;
            gap: 40px;
            margin: 28px 0;
        }
    }

    &-item {
        background-color: v.$base-white;
        width: 100%;
        border-radius: 8px;
        box-shadow: 0px 2px 0px 0px rgba(0, 0, 0, 0.10);
        padding: 16px 20px;

        &:last-of-type {
            margin-bottom: 0
        }

        @include v.tab {
            max-width: 240px;
            margin-bottom: 0;
        }

        &_flex {
            gap: 10px;

            @include v.tab {
                gap: 0;
            }
        }

        &_img {
            width: 44px;

            img {
                width: 100%;
                margin: 8px 0;
            }
        }

        &_word {
            text-align: left;
            flex: 1;

            @include v.tab {
                text-align: center;
            }

            img {
                display: none;

                @include v.tab {
                    display: block;
                    width: 44px;
                    margin: 8px auto;
                }
            }
        }

        &_title {
            color: v.$main-navy;
            font-size: 14px;
            font-weight: 600;
        }

        &_text {
            margin-bottom: 8px;
            font-size: 12px;
            font-weight: 500;
            line-height: 19.2px;
        }

        &_link {           
            padding: 8px 0px;
        }

        &_man,
        &_woman {
            position: absolute;
            z-index: 1;

            img {
                width: 48px;

                @include v.tab {
                    width: 155px;
                }
            }
        }

        &_man {
            top: 40px;
            left: 30px;

            @include v.tab {
                bottom: -20px;
                top: auto;
            }
        }

        &_woman {
            top: 40px;
            right: 30px;

            @include v.tab {
                bottom: -5px;
                top: auto;
            }
        }

        &_tel {
            margin: 0 16px;
            color: v.$base-white;
            justify-content: center;
            gap: 16px;
            border: 2px solid v.$base-white;
            border-radius: 4px;
            text-align: left;
            padding: 16px 0;

            @include v.tab {
                margin: 0 auto;
                max-width: 65%;
            }

            &--img {
                img {
                    width: 40px;
                    filter: v.$filter-base-white;
                }
            }

            &--text {
                font-size: 12px;
                font-weight: 500;
                align-items: flex-start;
               
            }

            &--num {
                font-size: 32px;
                font-weight: 600;
            }

            &--time {
                font-size: 12px;
                font-weight: 400;
            }
        }
    }

    //JKK・URページに使用
    &-contact {
        margin: 40px auto 0;
        background: #f4f4f4;
        border-radius: 8px;
        box-shadow: 0 0 12px rgba(0, 0, 0, 0.15);
        padding: 28px;
        font-weight: 600;
        max-width: 400px;

        @include v.tab {
            max-width: none;
        }

        h2 {
            font-size: 24px !important;
            font-weight: 600;
            border-bottom: 2px solid #0080bc;
            color: v.$main-navy;
            margin-bottom: 0 !important;
            text-align: center;
            padding-bottom: 12px;

            @include v.tab {
                font-size: 28px !important;
                padding-bottom: 4px;
            }
        }

        &_list {
            text-align: center;

            @include v.tab {
                flex-direction: row;
                padding: 28px 0;
                margin: auto;
                max-width: 680px;
            }

            @include v.lt {
                max-width: 800px;
            }

            li {
                padding: 24px 0;
                border-bottom: 2px dashed $border-blue-right;
                width: 100%;

                @include v.tab {
                    flex: 1;
                    border-bottom: none;
                    padding: 0;
                }

                &:first-child {
                    @include v.tab {
                        border-right: 2px solid $border-blue-right;
                    }
                }

                p {
                    position: relative;
                    margin-bottom: 12px;
                    padding-left: 30px;
                    display: inline-block;

                    @include v.lt {
                        font-size: 18px;
                    }

                    &::before {
                        content: "";
                        position: absolute;
                        background-position: center;
                        background-size: cover;
                        top: 50%;
                        left: 0;
                        transform: translateY(-50%);
                    }
                }

                a {
                    display: block;
                    margin: auto;
                }
            }

            &--mail {
                p {
                    &::before {
                        width: 24px;
                        height: 16px;
                        background-image: url(/assets/img/feature/mail.png);
                    }
                }

                a {
                    font-size: 16px;
                    color: v.$base-white;
                    background: $text-orange;
                    border-radius: 24px;
                    width: 220px;
                    height: 40px;
                    line-height: 40px;
                    transition: all .3s;

                    @include v.tab {
                        width: 240px;
                    }

                    @include v.lt {
                        width: 300px;
                        font-size: 20px;
                    }

                    &:hover {
                        background: #1d4094;
                        box-shadow: 0 0 10px rgba(0, 128, 188, 0.2);
                        transform: translateY(-1px);
                        color: #fff;
                    }
                }
            }

            &--tel {
                p {
                    &::before {
                        width: 21px;
                        height: 22px;
                        background-image: url(/assets/img/feature/phone.png);
                    }
                }

                a {
                    font-size: 30px;

                    @include v.lt {
                        font-size: 40px;
                    }
                }
            }
        }

        &_businesshours {
            margin: 24px auto 0;
            text-align: center;

            @include v.tab {
                margin: 0 auto;
            }

            li {
                font-size: 14px;

                @include v.lt {
                    font-size: 18px;
                }
            }

            span {
                font-size: 20px;
                padding-left: 8px;

                @include v.lt {
                    font-size: 28px;
                }
            }

            &--time {
                color: $text-orange;
            }

            &--regularholiday {
                color: v.$text-price;
            }

            &--text {
                text-align: center;
                font-size: 13px;

                @include v.lt {
                    display: inline-block;
                    font-size: 14px;
                }
            }
        }
    }
}