@use "../../foundation/variables" as v;

.fiexdmenu {

    &-static {
        position: static !important;
    }

    &-search {
        box-shadow: 0px -2px 8px 0px rgba(1, 56, 79, 0.10);
        position: fixed;
        bottom: 53px;
        background-color: v.$bg-gray;
        width: 100%;
        z-index: 1;
        padding: 8px;

        @include v.tab {
            bottom: 66px;
            padding: 8px 16px 16px;
        }

        @include v.lt {
            bottom: 0;
            padding: 16px;

        }

        .container {
            position: relative;
        }



        &_count {
            font-size: 12px;
            gap: 8px;
            font-weight: 500;
            color: v.$text-dark;
            margin-bottom: 8px;

            @include v.tab {
                font-size: 14px;
            }

            @include v.lt {
                position: absolute;
                right: 0;
                transform: translateY(-50%);
                top: 50%;
            }

            span {
                font-size: 24px;
                color: v.$text-price;


                @include v.tab {
                    font-size: 40px;
                }
            }
        }

    }

    &-fav,
    &-history {
        position: fixed;
        bottom: 53px;
        text-align: center;
        background: rgba(23, 35, 62, 0.8);
        width: 100%;
        z-index: 999;

        @include v.tab {
            bottom: 66px;
        }

        @include v.lt {
            bottom: 0;
        }

        &_position {
            position: relative;
            padding: 8px;

            @include v.tab {
                justify-content: center;
                gap: 16px;
                padding: 12px;
            }

            @include v.lt {
                padding: 16px;
            }
        }

        &_bubble {
            position: absolute;
            top: -20px;
            left: 50%;
            transform: translateX(-50%);
            width: 220px;
            height: 27px;

            @include v.tab {
                display: none;
            }
        }

        &_text {
            display: none;
            font-weight: 600;
            font-size: 16px;
            color: v.$base-white;

            @include v.tab {
                display: block;
            }
        }

        .flex {
            gap: 8px;
            margin: auto;

            @include v.tab {
                gap: 16px;
                margin: 0;
            }

            @include v.lt {
                gap: 24px;
            }
        }
    }

    &-fav {
        .btn-follow_white {
            img {
                filter: v.$filter-text-normal;

            }
        }
    }

    &-history {
        .btn-follow_white {
            img {
                width: 20px;
                height: 20px;
                filter: v.$filter-accent-pink;

                @include v.lt {
                    width: 28px;
                    height: 28px;
                }
            }
        }
    }
}