@use'../../foundation/variables' as v;


.label {
    font-size: 10px;
    display: flex;
    align-items: center;
    border-radius: 2px;
    font-weight: 600;
    padding: 2px 16px;

    &-ur {
        background-color: v.$ur;
        color: v.$base-white;
    }

    &-jkk {
        background-color: v.$jkk;
        color: v.$text-dark;
    }

    &-minkan {
        background-color: v.$minkan;
        color: v.$base-white;
    }

    &-yokohama {
        background-color: v.$yokohama;
        color: v.$base-white;
    }
    &-other {
        background-color: v.$other;
        color: v.$base-white;
    }

    &-360view {
        outline: 1px solid v.$main-navy;
        outline-offset: -1px;
        box-sizing: border-box;
        gap: 8px;
        padding: 2px 8px;
        color: v.$text-dark;
        letter-spacing: 0.4px;

        img {
            width: 12px;
            filter: v.$filter-text-dark;
        }
    }
    &-pink {
        background: v.$accent-pink;
    }
    &-navy {
        background: v.$main-blue;
    }
}