@use'../../foundation/variables' as v;

// ポップアップの位置調整
.popup {
    display: none;
    background-color: v.$base-white;
    border-radius: 8px;
    padding: 48px 16px 16px;
    box-shadow: v.$shadow;
    position: fixed;
    z-index: 1;
    top: 16px;
    left: 50%;
    transform: translateX(-50%);
    width: min(calc(100% - 32px), 480px);

    @include v.tab {
        width: 400px;
        top: 80px;
        left: 320px;
        transform: none;
        padding: 16px 16px 24px;
        position: absolute;
    }

    &.active {
        display: block;
    }

    &-close {
        position: absolute;
        background-color: v.$text-normal;
        right: 16px;
        width: 32px;
        height: 32px;
        top: 16px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        cursor: pointer;

        @include v.tab {
            width: 20px;
            height: 20px;
        }

        &:after {
            content: "";
            background: url("/assets/img/icon/close.svg") center no-repeat;
            filter: v.$filter-base-white;
            display: block;
            width: 10px;
            height: 10px;
        }
    }

    &-btn {
        gap: 4px;
        width: 100%;

        >a,
        >span {
            flex: 1;
        }

        .btn-link_outline {
            padding: 8px 0;
            font-size: 12px;

            @include v.tab {
                font-size: 10px;
                line-height: 10px;
                padding: 4px;

            }
            img{
                width: 16px;
                position: relative;
                top: 2px;
                @include v.tab{
                    width: 12px;
                    top: 1px;
                }
            }
        }

        .btn-fav_small {
            padding: 8px 0;
            font-size: 12px;
            border: 1px solid v.$border-dark;

            @include v.tab {
                font-size: 10px;
                padding: 4px;
                gap: 2px;
            }

            &--text {
                &:before {
                    content: "お気に入りに追加";
                    display: inline-block;
                }
            }

            &.active {
                @include v.tab {
                    color: v.$base-white;
                    background-color: v.$accent-pink;
                }

                .btn-fav_small--text {
                    &:before {
                        content: "お気に入り追加済";
                    }
                }

                .btn-fav_small--img {
                    @include v.tab {
                        filter: v.$filter-base-white;
                    }
                }
            }
        }

    }

    .article-map_contents {
        flex-direction: column;
        gap: 8px;

        @include v.tab {
            flex-direction: row;
        }



        >img {
            width: 100%;
            object-fit: cover;

            @include v.tab {
                width: 120px;
            }
        }

        >div {
            width: 100%;

            @include v.tab {
                width: auto;
                flex: 1;
            }
        }

    }
}