@use "../../foundation/variables" as v;

.refine {
    &-title {
        font-size: 16px;
        border-left: 4px solid v.$sub-blue;
        padding: 0 8px;
        margin-bottom: 12px;

        @include v.lt {
            width: 100px;
            margin-bottom: 0;
        }
    }

    &-border {
        padding: 0 16px;
        background-color: v.$base-white;
        border-bottom: 2px solid v.$main-navy;

        @include v.lt {
            padding: 0;
            background-color: transparent;
            border-bottom: none;
        }
    }

    &-contents {
        @include v.lt {
            padding: 0 16px 16px;
        }

        >section {
            padding: 20px 0;
            border-bottom: 1px dashed v.$border-dark;
            width: 100%;
            gap: 8px;
            align-items: flex-start;
            width: 100%;

            @include v.lt {
                flex-direction: row;

                &:last-child {
                    border: none;
                }
            }


        }

        ul {
            flex-wrap: wrap;
            gap: 8px;
            width: 100%;

            @include v.tab {
                gap: 16px 24px;
            }

            @include v.lt {
                gap: 8px;
                flex: 1;
                padding-top: 4px;
            }

            li {
                @include v.lt {
                    width: calc(100% / 6 - calc((8px * 5) / 6));
                }

                label {
                    gap: 4px;

                    @include v.lt {
                        font-size: 12px;

                    }
                }
            }
        }

    }

    &-column {
        li {
            @include v.lt {
                width: 100% !important;
            }
        }
    }

    &-w100 {
        @include v.lt {
            width: 100% !important;
        }
    }


    &-select {
        width: 100%;

        @include v.tab {
            width: 50%;
        }

        &_wrap {
            width: 100%;
            align-items: flex-start;
            gap: 8px;
            @include v.tab {
                flex-direction: row;
                align-items: center;
            }
            label {
                gap: 4px;
                font-size: 14px;
            }
        }

        



        span {
            width: 20px;
            text-align: center;
            font-size: 12px;
            color: v.$text-right;
        }

        span.input-select_large--wrap {
            flex: 1;

            &:after {
                filter: v.$filter-sub-blue;
                right: 8px;

                @include v.tab {
                    right: 16px;
                }
            }

        }

        .input-select_large {
            padding: 4px;
        }
    }

    &-radio {
        flex-wrap: wrap;
        gap: 16px;

        li {
            width: 120px;

            @include v.tab {
                width: auto;
            }
        }

        span {
            font-size: 16px;

            @include v.lt {
                font-size: 12px;
            }
        }

    }

    &-inner {
        width: 100%;
        gap: 12px;

        @include v.lt {
            flex: 1;
        }

        section {
            width: 100%;

            ul {
                gap: 12px 24px;

                li {
                    width: auto;
                    min-width: 92px;
                }
            }
        }

        h4 {
            width: 100%;
            justify-content: flex-start;
            gap: 8px;
            font-size: 14px;
            color: v.$text-normal;
            margin-bottom: 12px;

            &:after {
                content: "";
                width: 100%;
                flex: 1;
                height: 1px;
                background-color: v.$border-right;
                display: block;
            }
        }

    }

    &-btn {
        padding: 16px 0;
        width: 100%;

        @include v.lt {
            a {
                font-size: 16px;
            }
        }
    }

}