@use'../../foundation/variables' as v;

.ui-widget.ui-widget-content {
   
    border-radius: 4px;
    padding-right: 8px;
    overflow-y: scroll;

}


.ui-menu .ui-menu-item-wrapper {
    padding: 8px;
    font-size: 12px;
    border: none;
    background-color: v.$base-white;
    color: v.$text-normal;
    outline: none;
    margin: 0;

    &:hover,
    &:focus-visible {
        background-color: v.$bg-blue;
        color: v.$text-normal;
        outline: none;
        margin: 0;

    }
}

.ui-menu .ui-menu-item {
    border-bottom: 1px solid v.$border-right;

}