@use "../../foundation/variables" as v;

.table {
    border-collapse: collapse;
    table-layout: fixed;
    width: 100%;
    text-align: center;
    table-layout: fixed;

    thead {
        background-color: v.$bg-gray;
    }

    th,
    td {
        font-size: 13px;
    }

    th,
    td tbody th {
        font-weight: bold;
        text-align: center;
    }

    th {
        padding: 8px;
    }

    td {
        padding: 16px 8px;
        vertical-align: middle;
        height: auto;

        @include v.pc {
            padding: 20px 12px;
        }
    }

    thead {
        height: 36px;

        th {
            white-space: nowrap;

            &:nth-child(1) {
                width: 15%;

                @include v.pc {
                    width: 13%;
                }
            }

            &:nth-child(2) {
                width: 30%;

                @include v.pc {
                    width: 38%;
                }
            }

            &:nth-child(3) {
                width: 10%;
            }

            &:nth-child(4) {
                width: 15%;

                @include v.pc {
                    width: 13%;
                }
            }

            &:nth-child(5) {
                width: 15%;

                @include v.pc {
                    width: 13%;
                }
            }

            &:nth-child(6) {
                width: 15%;

                @include v.pc {
                    width: 13%;
                }
            }
        }
    }

    tr {
        td {
            @include v.pc {
                font-size: 15px;
            }
        }
    }

    &-check {
        &_all {
            display: flex;
            align-items: center;
            gap: 4px;
            background-color: v.$bg-gray;

            span {
                font-size: 12px;
                font-weight: 600;
                @include v.lt{
                    font-size: 13px;
                }
            }
        }
    }

    tbody {
        tr {
            border-bottom: 1px dashed v.$text-right;

            @include v.pc {
                height: 120px;
            }
        }
    }

    &-flex {
        &_area {
            display: flex;

            img {
                width: 64px;
                height: 64px;
                margin-right: 12px;

                @include v.pc {
                    width: 80px;
                    height: 80px;
                    margin-right: 32px
                }
            }

            div {
                display: grid;
                place-items: start;
                place-content: center;
                text-align: left;
            }
        }
    }

    &-price {
        font-weight: 600;
        color: v.$text-price;

        @include v.lt {
            display: block;
            font-size: 15px;
        }

        @include v.pc {
            font-size: 18px;
        }
    }
}