@use "../../foundation/variables" as v;

.title {

    //クラス名にtypeが付いているものはh1になります。
    &-type1 {
        padding: 24px 0;

        @include v.tab {
            padding: 40px 0;
        }

        h1 {
            gap: 8px;
            font-size: 18px;
            padding-bottom: 8px;

            @include v.tab {
                font-size: 24px;
                gap: 16px;
                padding-bottom: 12px;
            }
        }

        span {
            background-color: v.$sub-blue;
            border-radius: 50%;
            padding: 5px;

            @include v.tab {
                padding: 8px;
            }

            img {
                filter: v.$filter-base-white;
                width: 14px;

                @include v.tab {
                    width: 24px;
                }

            }

        }

        img {
            filter: v.$filter-sub-blue;
            width: 24px;

            @include v.tab {
                width: 40px;
            }

        }

        &_read {
            font-size: 12px;
            margin-bottom: 4px;

            @include v.lt {
                font-size: 14px;
            }
        }


    }

    &-type2 {

        background-color: v.$main-navy;

        &_text {
            color: v.$base-white;
            font-size: 20px;
            height: 120px;
            line-height: 120px;
            margin: auto;
            padding: 0 16px;
            background-repeat: no-repeat;
            max-width: 600px;

            @include v.lt {
                height: 150px;
                line-height: 150px;
                font-size: 24px;
                max-width: 800px;
            }

            @include v.pc {
                max-width: 1080px;
            }

            &:before {
                position: relative;
                content: "";
                display: inline-block;
                width: 24px;
                height: 24px;
                top: 4px;
                background-repeat: no-repeat;
                background-size: contain;
                margin-right: 5px;
                filter: v.$filter-base-white;

                @include v.lt {
                    width: 40px;
                    height: 40px;
                    top: 10px;
                    margin-right: 12px
                }
            }
        }
    }




    &-type3 {
        padding: 30px 0;

        @include v.lt {
            padding: 40px 0;
        }

        &_flex {
            justify-content: center;
            gap: 12px;

            @include v.lt {
                gap: 24px;
            }

            img {
                height: 40px;

                @include v.lt {
                    height: 70px;
                }
            }

            h1 {
                font-size: 24px;
                color: v.$bg-gray;

                @include v.lt {
                    font-size: 32px;
                }
            }
        }
    }
    &-fav {
        h1 {
            gap: 4px;

            @include v.tab {
                gap: 8px;
            }
        }

        img {
            filter: v.$filter-accent-pink;

            @include v.tab {
                width: 34px;
                height: 34px;

            }
        }

    }
    &-underline {
        border-bottom: 2px solid v.$border-dark;
        position: relative;
        padding: 8px 0;
        font-size: 18px;
        width: 100%;

        @include v.tab {
            font-size: 20px;
        }

        &:after {
            content: "";
            width: 80px;
            height: 2px;
            background-color: v.$main-navy;
            position: absolute;
            left: 0;
            bottom: -2px;
        }
    }

    &-catalog {
        font-size: 18px;
        font-weight: 600;
        padding: 8px 0;
        line-height: 1.2;

        @include v.tab {
            font-size: 24px;
        }

    }

    &-keyword {
        font-size: 16px;
        font-weight: 600;
        padding: 8px 0;
        line-height: 1.2;

        @include v.tab {
            font-size: 24px;
        }

        span {
            color: v.$text-normal;
            font-size: 14px;
            font-weight: 400;
        }
    }

    &-property {
        font-size: 18px;
        margin-bottom: 16px;

        span {
            color: v.$text-price;
        }

        @include v.tab {
            font-size: 20px;
            margin-bottom: 32px;
        }
    }

    &-leftline {
        margin-bottom: 16px;
        border-left: 4px solid v.$main-navy;
        padding: 8px 16px;
        font-size: 20px;
    }

    &-top {

        &_subtitle {
            color: v.$text-normal;
            font-size: 12px;
            font-weight: 600;
            display: block;
            text-align: center;
        }

        &_titles {
            display: flex;
            align-items: flex-start;
            justify-content: center;
            gap: 8px;
            margin-bottom: 32px;

            @include v.lt {
                margin-bottom: 40px;
            }
        }

        &_title {
            padding-top: 8px;
            color: v.$text-dark;
            font-size: 22px;
            font-weight: 600;

            @include v.lt {
                font-size: 28px;
            }

            &--blue {
                color: v.$sub-blue;
            }
        }

        &_leftimg,
        &_rightimg {
            img {
                filter: v.$filter-sub-blue;
            }
        }

        &_leftimg {
            padding-top: 4px;
        }

        &_rightimg {
            transform: rotate(180deg);
        }
    }


    &-locations {
        text-align: center;
        padding-top: 0;
        font-size: 18px;

        @include v.tab {
            font-size: 24px;
        }
    }

    &-beforeleftline {
        color: v.$text-dark;
        font-size: 18px;
        font-weight: 700;
        border-radius: 4px 0px 0px 4px;
        background: v.$bg-blue;
        height: 65px;
        padding-left: 20px;
        display: flex;
        align-items: center;
        position: relative;

        @include v.lt {
            font-size: 20px;
            height: 72px;
            padding-left: 32px;
        }

        &::before {
            position: absolute;
            content: "";
            border-radius: 4px 0px 0px 4px;
            background: v.$main-blue;
            width: 10px;
            height: 65px;
            left: 0;

            @include v.lt {
                height: 72px;
            }
        }
    }

    &-guide {
        color: v.$text-dark;
        text-align: center;
        font-size: 20px;
        font-weight: 600;
        padding-bottom: 12px;
        margin: 40px 0;
        position: relative;

        @include v.lt {
            font-size: 24px;
        }

        &:after {
            position: absolute;
            content: url(/assets/img/icon/line.svg);
            display: block;
            bottom: -12px;
            left: 50%;
            transform: translateX(-50%);
        }
    }
}