@use "../../foundation/variables" as v;


.filter {
    &-jkk {
        filter:v.$filter-jkk;
    }
    &-ur {
        filter: v.$filter-ur;
    }
    &-minkan {
        filter: v.$filter-minkan;
    }

    &-yokohama {
        filter: v.$filter-yokohama;
    }

    &-other {
        filter: v.$filter-other;
    }
}