@use "../../foundation/variables" as v;

.hover{
    &-opacity {
        &:hover {
            opacity: .8;
        }
    }
    &-cursor {
        &:hover {
            opacity: .8;
            cursor: pointer;
        }
    }
}

