@use "../../foundation/variables" as v;

.hover{
    &-scale{
        &:hover {
            img {
                transform: scale(1.05, 1.05);
                opacity: .8;
                transition: .3s all;
                vertical-align: bottom;
            }

            figcaption {
                opacity: .8;
            }
        }

        div {
            border-radius: 8px;
            box-shadow: v.$shadow;
            border: 1px solid v.$border-right;
            overflow: hidden;
        }

        img {
            vertical-align: top;
            transition: .3s all;

        }

        figcaption {
            padding: 8px 0;
            text-align: center;
            transition: .3s all;
        }
    }
    &-colwhite {
        background-color: v.$main-navy;
        color: v.$base-white;
        transition: .3s all;

        &:hover {
            opacity: .8;
            background-color: v.$base-white;
            color: v.$main-navy;
            img {
                opacity: .8;
                transition: .3s all;
                filter: v.$filter-main-navy;
            }
        }
    }
    &-arrow {
        transition: .3s all;
        img{
            transition: .3s all; 
            position: relative;
            left: 0;
        }
        &:hover {
            img {
                opacity: .8;
                left: 10px;
            }
            
        }
    }
    &-big {
        transition: .3s all;
        &:hover {
            opacity: .8;
            transform: scale(1.1);
        }
    }
    &-down {
        transition: .3s all;
        transform: translateY(0px);
        &:hover {
            opacity: .8;
            transform: translateY(2px);
            box-shadow: none;
        }
    }
    &-font {
        transition: .3s all;
        &:hover {
            opacity: .8;
            color: v.$main-blue;
        }
    }
    &-colnavy {
        transition: .3s all;

        &:hover {
            background: #1d4094;
            box-shadow: 0 0 10px rgba(0, 128, 188, 0.2);
            transform: translateY(-1px);
            color: #fff;
        }
    }
    &-opacity {
        &:hover {
            opacity: .8;
        }
    }
    &-cursor {
        &:hover {
            opacity: .8;
            cursor: pointer;
        }
    }
}

