@charset "UTF-8";
/*foundation*/
/* resset.dev • v5.0.2 */
/* # =================================================================
   # Global selectors
   # ================================================================= */
html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-text-size-adjust: 100%;
  /* Prevent adjustments of font size after orientation changes in iOS */
  word-break: normal;
  -moz-tab-size: 4;
  -o-tab-size: 4;
     tab-size: 4;
}

*,
::before,
::after {
  background-repeat: no-repeat;
  /* Set `background-repeat: no-repeat` to all elements and pseudo elements */
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

::before,
::after {
  text-decoration: inherit;
  /* Inherit text-decoration and vertical align to ::before and ::after pseudo elements */
  vertical-align: inherit;
}

* {
  padding: 0;
  /* Reset `padding` and `margin` of all elements */
  margin: 0;
}

/* # =================================================================
     # General elements
     # ================================================================= */
hr {
  overflow: visible;
  /* Show the overflow in Edge and IE */
  height: 0;
  /* Add the correct box sizing in Firefox */
  color: inherit;
  /* Correct border color in Firefox. */
}

details,
main {
  display: block;
  /* Render the `main` element consistently in IE. */
}

summary {
  display: list-item;
  /* Add the correct display in all browsers */
}

small {
  font-size: 80%;
  /* Set font-size to 80% in `small` elements */
}

[hidden] {
  display: none;
  /* Add the correct display in IE */
}

abbr[title] {
  border-bottom: none;
  /* Remove the bottom border in Chrome 57 */
  /* Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari */
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

a {
  background-color: transparent;
  /* Remove the gray background on active links in IE 10 */
}

a:active,
a:hover {
  outline-width: 0;
  /* Remove the outline when hovering in all browsers */
}

code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  /* Specify the font family of code elements */
}

pre {
  font-size: 1em;
  /* Correct the odd `em` font sizing in all browsers */
}

b,
strong {
  font-weight: bolder;
  /* Add the correct font weight in Chrome, Edge, and Safari */
}

/* https://gist.github.com/unruthless/413930 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

table {
  border-color: inherit;
  /* Correct border color in all Chrome, Edge, and Safari. */
  text-indent: 0;
  /* Remove text indentation in Chrome, Edge, and Safari */
}

iframe {
  border-style: none;
}

/* # =================================================================
     # Forms
     # ================================================================= */
input {
  border-radius: 0;
}

[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
  /* Correct the cursor style of increment and decrement buttons in Chrome */
}

[type=search] {
  -webkit-appearance: textfield;
  /* Correct the odd appearance in Chrome and Safari */
  outline-offset: -2px;
  /* Correct the outline style in Safari */
}

[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
  /* Remove the inner padding in Chrome and Safari on macOS */
}

textarea {
  overflow: auto;
  /* Internet Explorer 11+ */
  resize: vertical;
  /* Specify textarea resizability */
}

button,
input,
optgroup,
select,
textarea {
  font: inherit;
  /* Specify font inheritance of form elements */
}

optgroup {
  font-weight: bold;
  /* Restore the font weight unset by the previous rule */
}

button {
  overflow: visible;
  /* Address `overflow` set to `hidden` in IE 8/9/10/11 */
}

button,
select {
  text-transform: none;
  /* Firefox 40+, Internet Explorer 11- */
}

/* Apply cursor pointer to button elements */
button,
[type=button],
[type=reset],
[type=submit],
[role=button] {
  cursor: pointer;
}

/* Remove inner padding and border in Firefox 4+ */
button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/* Replace focus style removed in the border reset above */
button:-moz-focusring,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  outline: 1px dotted ButtonText;
}

button,
html [type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
  /* Correct the inability to style clickable types in iOS */
}

/* Remove the default button styling in all browsers */
button,
input,
select,
textarea {
  background-color: transparent;
  border-style: none;
}

a:focus,
button:focus,
input:focus,
select:focus,
textarea:focus {
  outline-width: 0;
}

/* Style select like a standard input */
select::-ms-expand {
  display: none;
  /* Internet Explorer 11+ */
}

select::-ms-value {
  color: currentColor;
  /* Internet Explorer 11+ */
}

legend {
  border: 0;
  /* Correct `color` not being inherited in IE 8/9/10/11 */
  color: inherit;
  /* Correct the color inheritance from `fieldset` elements in IE */
  display: table;
  /* Correct the text wrapping in Edge and IE */
  max-width: 100%;
  /* Correct the text wrapping in Edge and IE */
  white-space: normal;
  /* Correct the text wrapping in Edge and IE */
  max-width: 100%;
  /* Correct the text wrapping in Edge 18- and IE */
}

::-webkit-file-upload-button {
  /* Correct the inability to style clickable types in iOS and Safari */
  -webkit-appearance: button;
  color: inherit;
  font: inherit;
  /* Change font properties to `inherit` in Chrome and Safari */
}

/* Replace pointer cursor in disabled elements */
[disabled] {
  cursor: default;
}

/* # =================================================================
     # Specify media element style
     # ================================================================= */
img {
  border-style: none;
  /* Remove border when inside `a` element in IE 8/9/10 */
}

/* Add the correct vertical alignment in Chrome, Firefox, and Opera */
progress {
  vertical-align: baseline;
}

/* # =================================================================
     # Accessibility
     # ================================================================= */
/* Specify the progress cursor of updating elements */
[aria-busy=true] {
  cursor: progress;
}

/* Specify the pointer cursor of trigger elements */
[aria-controls] {
  cursor: pointer;
}

/* Specify the unstyled cursor of disabled, not-editable, or otherwise inoperable elements */
[aria-disabled=true] {
  cursor: default;
}

ul {
  list-style: none;
  padding-left: 0;
}

@font-face {
  font-family: "FOT-TsukuGoPro";
  src: url("/assets/fonts/FOT-TsukuGoPro-B.otf");
  font-weight: bold;
}
@font-face {
  font-family: "FOT-TsukuOldGothicStd";
  src: url("/assets/fonts/FOT-TsukuOldGothicStd-B.otf");
  font-weight: bold;
}
html {
  scroll-behavior: smooth;
  overflow-x: hidden;
  width: 100%;
}

/*ベースとしてフォントはMontserratを読み込ませる*/
body {
  overflow-x: hidden;
  width: 100%;
}

.container-fv {
  width: min(100% - 32px, 1280px);
  margin: 0 auto;
}

.container-collabo {
  width: min(100% - 32px, 1350px);
  margin: 0 auto;
}

@media (min-width: 768px) {
  .container-tab {
    width: min(100% - 32px, 1080px);
    margin: 0 auto;
  }
}

/*デフォルトのテキストリンクカラーを指定する*/
a {
  text-decoration: none;
}

address {
  font-style: normal;
}

img {
  max-width: 100%;
}

@media (min-width: 768px) {
  a[href^="tel:"] {
    pointer-events: none;
  }
}
/*layout*/
body.is-open {
  height: 100vh;
  overflow-y: hidden;
}

.header-logo {
  display: none;
}
@media (min-width: 768px) {
  .header-logo {
    display: block;
    width: 274px;
    position: fixed;
    z-index: 980;
    top: 70px;
    -webkit-transition: -webkit-transform 0.3s;
    transition: -webkit-transform 0.3s;
    transition: transform 0.3s;
    transition: transform 0.3s, -webkit-transform 0.3s;
  }
}

.header-hamburger {
  margin-right: 70px;
  display: block;
  background-color: transparent;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
  margin-left: auto;
  position: relative;
}

.header-hamburger_line {
  display: none;
}

.header-hamburger_line.active {
  display: block;
  position: absolute;
  width: 70px;
  height: 3px;
  -webkit-transition: inherit;
  transition: inherit;
  -webkit-animation: fadein 0.5s forwards;
          animation: fadein 0.5s forwards;
}
.header-hamburger_line.active:before, .header-hamburger_line.active:after {
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  content: "";
  background-color: inherit;
  -webkit-transition: inherit;
  transition: inherit;
  -webkit-animation: fadein 0.5s forwards;
          animation: fadein 0.5s forwards;
}
.header-hamburger_line.active:before {
  top: 78px;
  right: 13px;
  background-color: #F77D79;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}
.header-hamburger_line.active:after {
  top: 78px;
  right: 10px;
  background-color: #F77D79;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.header-nav {
  opacity: 0;
  visibility: hidden;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  z-index: 980;
  background-color: #FFF9F4;
}

.header-nav.active {
  opacity: 1;
  visibility: visible;
}

.header-nav_lists {
  width: 100%;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 20px;
}

.header-nav_flex {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
@media (min-width: 1024px) {
  .header-nav_flex {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    gap: 100px;
  }
}

.header-nav_logoLink {
  margin-right: auto;
}

.header-nav_logo {
  width: 221px;
  padding-bottom: 35px;
}
@media (min-width: 768px) {
  .header-nav_logo {
    width: 390px;
  }
}
@media (min-width: 1024px) {
  .header-nav_logo {
    padding-bottom: 0;
    margin-top: -40px;
  }
}

.header-nav_list li {
  padding-bottom: 45px;
}
.header-nav_list li:nth-child(2), .header-nav_list li:nth-child(3) {
  padding-bottom: 18px;
}
.header-nav_list li:nth-child(4) {
  padding-bottom: 30px;
}
@media (min-width: 1024px) {
  .header-nav_list li:nth-child(4) {
    padding-bottom: 50px;
  }
}
.header-nav_list li:nth-child(5) {
  padding-bottom: 30px;
}
@media (min-width: 1024px) {
  .header-nav_list li:nth-child(5) {
    padding-bottom: 17px;
  }
}
.header-nav_list li:last-of-type {
  padding-bottom: 0;
}

.header-nav_link {
  display: inline-block;
  gap: 10px;
}

.header_nav_top {
  width: 105px;
}
@media (min-width: 768px) {
  .header_nav_top {
    width: 145px;
  }
}

.header_nav_135 {
  width: 157px;
}
@media (min-width: 768px) {
  .header_nav_135 {
    width: 220px;
  }
}

.header_nav_icon {
  width: 43px;
}
@media (min-width: 768px) {
  .header_nav_icon {
    width: 65px;
  }
}

.header-nav_text {
  font-family: kinto-sans, sans-serif;
  font-weight: 700;
  font-size: 14px;
  letter-spacing: 0.14em;
  line-height: 1.4163135593;
}
@media (min-width: 768px) {
  .header-nav_text {
    font-size: 26px;
    line-height: 1.4163135593;
  }
}

.header-nav_online {
  font-family: kinto-sans, sans-serif;
  font-weight: 700;
  font-size: 14px;
  letter-spacing: 0.05em;
  line-height: 1.4163135593;
}
@media (min-width: 768px) {
  .header-nav_online {
    font-size: 22px;
  }
}

.header-nav_insta {
  font-family: kinto-sans, sans-serif;
  font-weight: 700;
  font-size: 14px;
  letter-spacing: 0.08em;
  line-height: 1.4163135593;
}
@media (min-width: 768px) {
  .header-nav_insta {
    font-size: 22px;
  }
}

.header-nav_text--pink {
  color: #F77D79;
}

.header-nav_text--blue {
  color: #6AA4EA;
}

.header-nav_text--gray {
  color: #918C8A;
}

.footer {
  height: 105px;
  position: relative;
}
@media (min-width: 768px) {
  .footer {
    height: 275px;
  }
}

.footer-bg {
  position: absolute;
  height: 100%;
  width: 100%;
  overflow: hidden;
  background-color: #6AA4EA;
}
.footer-bg:after {
  content: "";
  display: inline-block;
  background-image: url(/assets/img/common/footer_back.png);
  background-size: cover;
  background-position: 0;
  width: 100%;
  height: 100%;
  position: relative;
  z-index: 2;
}

.footer-container {
  position: relative;
}

.footer-img {
  position: absolute;
  z-index: 3;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  top: 25px;
}
@media (min-width: 768px) {
  .footer-img {
    top: 80px;
  }
}

.footer-logo {
  width: 131px;
  display: block;
  margin: 0 auto;
  padding-bottom: 10px;
}
@media (min-width: 768px) {
  .footer-logo {
    width: 293px;
    padding-bottom: 25px;
  }
}

.footer-online {
  display: block;
  width: 102px;
  margin: 0 auto;
}
@media (min-width: 768px) {
  .footer-online {
    display: block;
    width: 227px;
  }
}

.footer-img_btm {
  width: 120px;
  top: -40px;
  left: -10px;
  position: absolute;
  z-index: 3;
}
@media (min-width: 768px) {
  .footer-img_btm {
    width: 310px;
    top: -80px;
    left: 80px;
  }
}

.footer-ebi_img {
  width: 85px;
  position: absolute;
  z-index: 4;
  top: -5px;
  left: 5px;
}
@media (min-width: 768px) {
  .footer-ebi_img {
    width: 230px;
    top: -9px;
    left: 9%;
  }
}

.rotateRightZ {
  -webkit-animation-name: rotateRightZAnime;
          animation-name: rotateRightZAnime;
  -webkit-animation-duration: 4s;
          animation-duration: 4s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

@-webkit-keyframes rotateRightZAnime {
  from {
    -webkit-transform: rotateZ(0);
            transform: rotateZ(0);
  }
  to {
    -webkit-transform: rotateZ(360deg);
            transform: rotateZ(360deg);
  }
}

@keyframes rotateRightZAnime {
  from {
    -webkit-transform: rotateZ(0);
            transform: rotateZ(0);
  }
  to {
    -webkit-transform: rotateZ(360deg);
            transform: rotateZ(360deg);
  }
}
/*object*/
.display-pc_only {
  display: none !important;
}
@media (min-width: 1024px) {
  .display-pc_only {
    display: block !important;
  }
}
@media (min-width: 1024px) {
  .display-tab_only {
    display: none;
  }
}
@media (min-width: 768px) {
  .display-sp_only {
    display: none;
  }
}

.hover-opacity:hover {
  opacity: 0.8;
}
.hover-cursor:hover {
  opacity: 0.8;
  cursor: pointer;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.flex-row {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}
.flex-column {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.top-fv {
  text-align: center;
  background-color: #FAD6DA;
  padding: 30px 0 140px 0;
}
@media (min-width: 768px) {
  .top-fv {
    padding: 70px 0 215px 0;
  }
}

.top-fv_container {
  position: relative;
}

@-webkit-keyframes rotation {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes rotation {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
.top-fv_circle {
  position: relative;
  margin: 0 auto;
  width: 307px;
  -webkit-animation: rotation 6s linear;
          animation: rotation 6s linear;
  margin-bottom: 15px;
}
@media (min-width: 768px) {
  .top-fv_circle {
    width: 683px;
    margin-bottom: 27px;
  }
}

@-webkit-keyframes ebi_leftRotation {
  0% {
    -webkit-transform: translateX(-422%) rotate(-180deg);
            transform: translateX(-422%) rotate(-180deg);
  }
  100% {
    -webkit-transform: translateX(-422%) rotate(180deg);
            transform: translateX(-422%) rotate(180deg);
  }
}

@keyframes ebi_leftRotation {
  0% {
    -webkit-transform: translateX(-422%) rotate(-180deg);
            transform: translateX(-422%) rotate(-180deg);
  }
  100% {
    -webkit-transform: translateX(-422%) rotate(180deg);
            transform: translateX(-422%) rotate(180deg);
  }
}
.top-fv_circle--left {
  position: absolute;
  width: 71px;
  top: 55px;
  -webkit-transform: translateX(-422%) rotate(180deg);
          transform: translateX(-422%) rotate(180deg);
  -webkit-animation: ebi_leftRotation 6s linear;
          animation: ebi_leftRotation 6s linear;
  -webkit-animation-delay: 6s;
          animation-delay: 6s;
}
@media (min-width: 768px) {
  .top-fv_circle--left {
    -webkit-transform: translateX(-422%) rotate(180deg);
            transform: translateX(-422%) rotate(180deg);
    width: 160px;
    top: 120px;
  }
}

@-webkit-keyframes ebi_rightRotation {
  0% {
    -webkit-transform: translateX(-143%) rotate(0deg);
            transform: translateX(-143%) rotate(0deg);
  }
  100% {
    -webkit-transform: translateX(-143%) rotate(360deg);
            transform: translateX(-143%) rotate(360deg);
  }
}

@keyframes ebi_rightRotation {
  0% {
    -webkit-transform: translateX(-143%) rotate(0deg);
            transform: translateX(-143%) rotate(0deg);
  }
  100% {
    -webkit-transform: translateX(-143%) rotate(360deg);
            transform: translateX(-143%) rotate(360deg);
  }
}
.top-fv_circle--right {
  position: absolute;
  width: 71px;
  top: 200px;
  -webkit-transform: translateX(-143%) rotate(0deg);
          transform: translateX(-143%) rotate(0deg);
  -webkit-animation: ebi_rightRotation 6s linear;
          animation: ebi_rightRotation 6s linear;
  -webkit-animation-delay: 6s;
          animation-delay: 6s;
}
@media (min-width: 768px) {
  .top-fv_circle--right {
    width: 160px;
    top: 440px;
    -webkit-transform: translateX(-143%) rotate(0deg);
            transform: translateX(-143%) rotate(0deg);
  }
}

.top-fv_135 {
  position: absolute;
  top: 24%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 158px;
}
@media (min-width: 768px) {
  .top-fv_135 {
    top: 29%;
    width: 352px;
  }
}

.top-fv_title {
  font-family: "FOT-TsukuGoPro", sans-serif;
  font-weight: bold;
  font-size: 40px;
  line-height: 1.2025;
  color: #F02D1B;
  margin-bottom: 20px;
  overflow: hidden;
  letter-spacing: 0.25em;
  padding-left: 1em;
  -webkit-font-feature-settings: "palt";
          font-feature-settings: "palt";
}
@media (min-width: 768px) {
  .top-fv_title {
    font-size: 73px;
    letter-spacing: 0.22em;
    padding-left: 0.7em;
    line-height: 1.4471356055;
    margin-bottom: 30px;
  }
}
.top-fv_title span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.top-fv_title p {
  opacity: 0;
  -webkit-animation: textanimation 1s forwards;
          animation: textanimation 1s forwards;
}

.top-fv_title--span1 p:nth-child(1) {
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s;
}

.top-fv_title--span1 p:nth-child(2) {
  -webkit-animation-delay: 0.4s;
          animation-delay: 0.4s;
}

.top-fv_title--span1 p:nth-child(3) {
  -webkit-animation-delay: 0.6s;
          animation-delay: 0.6s;
}

.top-fv_title--span1 p:nth-child(4) {
  -webkit-animation-delay: 0.8s;
          animation-delay: 0.8s;
}

.top-fv_title--span1 p:nth-child(5) {
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
}

.top-fv_title--span1 p:nth-child(6) {
  -webkit-animation-delay: 1.2s;
          animation-delay: 1.2s;
}

.top-fv_title--span1 p:nth-child(7) {
  -webkit-animation-delay: 1.4s;
          animation-delay: 1.4s;
}

.top-fv_title--span2 p:nth-child(1) {
  -webkit-animation-delay: 1.6s;
          animation-delay: 1.6s;
}

.top-fv_title--span2 p:nth-child(2) {
  -webkit-animation-delay: 1.8s;
          animation-delay: 1.8s;
}

.top-fv_title--span2 p:nth-child(3) {
  -webkit-animation-delay: 2s;
          animation-delay: 2s;
}

.top-fv_title--span2 p:nth-child(4) {
  -webkit-animation-delay: 2.2s;
          animation-delay: 2.2s;
}

.top-fv_title--span2 p:nth-child(5) {
  -webkit-animation-delay: 2.4s;
          animation-delay: 2.4s;
}

.top-fv_title--span2 p:nth-child(6) {
  -webkit-animation-delay: 2.6s;
          animation-delay: 2.6s;
}

.top-fv_title--span2 p:nth-child(7) {
  -webkit-animation-delay: 2.8s;
          animation-delay: 2.8s;
}

.top-fv_title--span2 p:nth-child(8) {
  -webkit-animation-delay: 3s;
          animation-delay: 3s;
}

@-webkit-keyframes textanimation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes textanimation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.top-fv_text {
  font-family: "Noto Sans JP", sans-serif;
  font-weight: 500;
  font-size: 15px;
  letter-spacing: 0.12em;
  line-height: 1.666;
  color: #F02D1B;
  margin-bottom: 15px;
}
@media (min-width: 768px) {
  .top-fv_text {
    font-size: 24px;
    letter-spacing: 0.18em;
    padding-left: 0.4em;
    line-height: 1.94375;
  }
}

.top-sp_flex {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.top-sp_scroll {
  position: relative;
}

.top-scroll {
  padding-top: 10px;
  display: block;
  width: 60px;
  margin: 0 auto;
}
@media (min-width: 768px) {
  .top-scroll {
    display: none;
  }
}

.top-logo_sp {
  display: block;
  width: 145px;
  position: fixed;
  top: 0px;
  left: 5px;
  margin-top: 585px;
  z-index: 20;
}
@media (min-width: 768px) {
  .top-logo_sp {
    display: none;
  }
}

@-webkit-keyframes popup {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
    opacity: 1;
  }
  60% {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1;
  }
}

@keyframes popup {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
    opacity: 1;
  }
  60% {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1;
  }
}
.top-fv_leftImg {
  display: none;
}
@media (min-width: 1024px) {
  .top-fv_leftImg {
    display: block;
    width: 305px;
    position: absolute;
    left: -30px;
    top: 53%;
    -webkit-animation: popup 0.3s ease 0.1s forwards;
            animation: popup 0.3s ease 0.1s forwards;
  }
}

.top-fv_rightImg {
  display: none;
}
@media (min-width: 1024px) {
  .top-fv_rightImg {
    display: block;
    width: 265px;
    position: absolute;
    right: 4px;
    top: 71%;
  }
}

.top-collabo {
  background-color: #FFF9F4;
  padding: 15px 0 60px 0;
  position: relative;
}
@media (min-width: 768px) {
  .top-collabo {
    padding: 50px 0 35px 0;
  }
}

.top-collabo_circle {
  width: 204px;
  height: 204px;
  border-radius: 50%;
  background-color: #FFF9F4;
  position: absolute;
  top: -7%;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}
@media (min-width: 768px) {
  .top-collabo_circle {
    top: -12%;
    width: 388px;
    height: 388px;
  }
}
@media (min-width: 1024px) {
  .top-collabo_circle {
    top: -17%;
  }
}
.top-collabo_circle P {
  position: absolute;
  top: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.top-collabo_manga135 {
  position: absolute;
  z-index: 2;
  width: 140px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  top: 12%;
}
@media (min-width: 768px) {
  .top-collabo_manga135 {
    width: 310px;
    top: 40px;
  }
}

.top-collabo_items {
  text-align: center;
  position: relative;
}

.top-collabo_title {
  width: 300px;
  margin-bottom: 0;
}
@media (min-width: 768px) {
  .top-collabo_title {
    width: 595px;
    margin-bottom: 10px;
  }
}

.top-collabo_subTitle {
  width: 300px;
  margin: 0 auto 25px auto;
}
@media (min-width: 768px) {
  .top-collabo_subTitle {
    width: 630px;
    padding-left: 25px;
    margin: 0 auto 25px auto;
  }
}

.top-collabo_text {
  color: #F77D79;
  font-family: "Noto Sans JP", sans-serif;
  font-weight: 500;
  font-size: 15px;
  letter-spacing: 0.12em;
  line-height: 1.666;
  margin-bottom: 35px;
}
@media (min-width: 768px) {
  .top-collabo_text {
    font-size: 21px;
    letter-spacing: 0.18em;
    line-height: 1.8071428571;
    margin-bottom: 50px;
  }
}

.top-collabo_img1 {
  position: absolute;
  width: 168px;
  top: -157px;
  left: -55px;
}
@media (min-width: 768px) {
  .top-collabo_img1 {
    width: 28%;
    top: -240px;
    left: 78px;
  }
}

.top-collabo_img2 {
  position: absolute;
  width: 180px;
  bottom: -152px;
  left: -35px;
}
@media (min-width: 768px) {
  .top-collabo_img2 {
    width: 25%;
    top: 145px;
    left: 32px;
  }
}

.top-collabo_img3 {
  position: absolute;
  width: 193px;
  bottom: -258px;
  left: 20px;
}
@media (min-width: 768px) {
  .top-collabo_img3 {
    width: 27%;
    top: 340px;
    left: -3px;
  }
}

.top-collabo_img4 {
  position: absolute;
  width: 129px;
  top: -132px;
  right: -35px;
  -webkit-transform: rotate(27deg);
          transform: rotate(27deg);
}
@media (min-width: 768px) {
  .top-collabo_img4 {
    -webkit-transform: rotate(0);
            transform: rotate(0);
    width: 19%;
    top: -170px;
    right: 145px;
  }
}

.top-collabo_img5 {
  position: absolute;
  width: 183px;
  bottom: -165px;
  right: -25px;
}
@media (min-width: 768px) {
  .top-collabo_img5 {
    width: 26%;
    top: 170px;
    right: -10px;
  }
}

.top-collabo_spimg {
  width: 170px;
  padding-top: 127px;
  margin-left: auto;
  display: block;
  position: relative;
  right: -20px;
  top: 5px;
  margin-bottom: -10px;
}
@media (min-width: 768px) {
  .top-collabo_spimg {
    display: none;
  }
}

.top-collabo_flex {
  gap: 45px;
}
@media (min-width: 768px) {
  .top-collabo_flex {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    gap: 48px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-left: -20px;
  }
}

.top-collabo_imgLink {
  display: inline-block;
}

.top-collabo_img {
  width: 280px;
}
@media (min-width: 768px) {
  .top-collabo_img {
    width: 330px;
  }
}

.top-collabo_manga1,
.top-collabo_manga2 {
  position: relative;
  z-index: 2;
}

.top-collabo1_left {
  position: absolute;
  width: 180px;
  left: -60px;
  top: 5%;
}
@media (min-width: 768px) {
  .top-collabo1_left {
    width: 240px;
    left: -140px;
    top: 47%;
  }
}

.top-collabo1_sp {
  width: 150px;
  position: absolute;
  bottom: -95px;
  left: -40px;
  z-index: -1;
}
@media (min-width: 768px) {
  .top-collabo1_sp {
    display: none;
  }
}

.top-collabo1_text {
  text-align: center;
  position: absolute;
  top: 34%;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  font-size: 36px;
  font-family: kinto-sans, sans-serif;
  font-weight: 400;
  color: #FFFFFF;
  line-height: 1.202284759;
  letter-spacing: -0.02em;
  width: 100%;
}
.top-collabo1_text span {
  display: block;
  font-size: 22px;
  font-weight: 500;
  line-height: 1.6282107096;
  letter-spacing: 0.14em;
}
@media (min-width: 768px) {
  .top-collabo1_text span {
    font-size: 27px;
    line-height: 1.6283482143;
  }
}
@media (min-width: 768px) {
  .top-collabo1_text {
    top: 33%;
    font-size: 42px;
    line-height: 1.2023809524;
    letter-spacing: -0.03em;
  }
}

.top-collabo2_left {
  position: absolute;
  width: 145px;
  left: -45px;
  top: 7%;
}
@media (min-width: 768px) {
  .top-collabo2_left {
    width: 175px;
    left: -55px;
    top: 30px;
  }
}

.top-collabo2_right {
  width: 167px;
  position: absolute;
  right: -40px;
  top: 30%;
}
@media (min-width: 768px) {
  .top-collabo2_right {
    width: 200px;
    right: -50px;
    top: 29%;
  }
}

.top-collabo2_flame--text {
  position: absolute;
  top: 41%;
  left: 11%;
  font-family: "FOT-TsukuGoPro", sans-serif;
  font-size: 35px;
  font-weight: 700;
  line-height: 1.0716938018;
  letter-spacing: 0.11em;
  color: #FFFFFF;
  text-align: center;
}
@media (min-width: 768px) {
  .top-collabo2_flame--text {
    top: 41%;
    left: 12%;
    font-size: 38px;
    line-height: 0.9985355138;
  }
}
.top-collabo2_flame--text span {
  font-size: 26px;
  line-height: 1.416383541;
  letter-spacing: 0.11em;
}
@media (min-width: 768px) {
  .top-collabo2_flame--text span {
    font-size: 31px;
    line-height: 1.4164516129;
  }
}

.top-collabo2_text {
  position: absolute;
  bottom: 8%;
  left: 13%;
  font-family: kinto-sans, sans-serif;
  color: #FFFFFF;
  font-size: 36px;
  font-weight: 400;
  line-height: 1.202284759;
  letter-spacing: 0.03em;
}
@media (min-width: 768px) {
  .top-collabo2_text {
    position: absolute;
    bottom: 9%;
    left: 12%;
    font-family: kinto-sans, sans-serif;
    color: #FFFFFF;
    font-size: 42px;
    line-height: 1.2023809524;
  }
}

.top-content {
  background-color: #FAD6DA;
}

.top-content_container {
  margin-top: 75px;
  position: relative;
}
@media (min-width: 768px) {
  .top-content_container {
    margin-top: -75px;
  }
}

.top-content_back {
  margin-top: -10px;
}
@media (min-width: 768px) {
  .top-content_back {
    margin-top: -1px;
  }
}

.content-sp_img {
  width: 190px;
  position: absolute;
  top: -185px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}
@media (min-width: 768px) {
  .content-sp_img {
    display: none;
  }
}

.content-left_img1 {
  display: none;
}
@media (min-width: 1024px) {
  .content-left_img1 {
    display: block;
    width: 390px;
    position: absolute;
    top: -220px;
    left: -55px;
  }
}

.top-content_title {
  text-align: center;
}
@media (min-width: 768px) {
  .top-content_title {
    padding-top: 45px;
    padding-bottom: 10px;
  }
}

.top-content_heart {
  width: 200px;
  position: absolute;
  top: -5px;
  left: 230px;
}
@media (min-width: 768px) {
  .top-content_heart {
    width: 200px;
    top: -5px;
    left: 18%;
  }
}

.top-content_titleImg {
  width: 740px;
  margin-left: -15px;
}
@media (min-width: 768px) {
  .top-content_titleImg {
    margin-left: -60px;
  }
}

.top-content_flex--package,
.top-content_flex--event,
.top-content_flex--coming {
  position: relative;
}

.top-content_flex--package {
  padding-bottom: 30px;
  margin-top: 5px;
}
@media (min-width: 768px) {
  .top-content_flex--package {
    padding-bottom: 70px;
    margin-top: 0;
  }
}

.top-content_flex--event {
  padding-bottom: 30px;
}
@media (min-width: 768px) {
  .top-content_flex--event {
    padding-bottom: 55px;
  }
}

.top-content_flex--coming {
  padding-bottom: 45px;
}
@media (min-width: 768px) {
  .top-content_flex--coming {
    padding-bottom: 75px;
  }
}

.top-content_item {
  width: 335px;
}
@media (min-width: 768px) {
  .top-content_item {
    width: 700px;
  }
}

.top-content_item--package {
  position: relative;
  margin: 0 auto;
}
@media (min-width: 1024px) {
  .top-content_item--package {
    margin-left: 15%;
  }
}

.top-content_item--event {
  position: relative;
  margin: 0 auto;
}
@media (min-width: 1024px) {
  .top-content_item--event {
    margin-left: auto;
    margin-right: 13%;
  }
}

.top-content_item--coming {
  position: relative;
  margin: 0 auto;
}
@media (min-width: 1024px) {
  .top-content_item--coming {
    margin-left: 13%;
  }
}

.top-content_item--title {
  position: absolute;
  top: -15px;
  left: 50%;
  z-index: 2;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}
@media (min-width: 768px) {
  .top-content_item--title {
    top: -25px;
  }
}

.top-content_item--pakageTitle {
  width: 126px;
}
@media (min-width: 768px) {
  .top-content_item--pakageTitle {
    width: 267px;
  }
}

.top-content_item--packageText {
  position: absolute;
  top: 25px;
  left: 30px;
  font-family: "FOT-TsukuGoPro", sans-serif;
  font-size: 12px;
  line-height: 1.5770816158;
  letter-spacing: 0.08em;
  font-weight: 800;
  text-align: center;
  color: #DEB28B;
}
@media (min-width: 768px) {
  .top-content_item--packageText {
    top: 47px;
    left: 65px;
    font-size: 25px;
    line-height: 1.5882352941;
  }
}
.top-content_item--packageText span {
  display: block;
  font-size: 15px;
  line-height: 0.6917293233;
  letter-spacing: 0.02em;
}
@media (min-width: 768px) {
  .top-content_item--packageText span {
    font-size: 33px;
    line-height: 1.4456193353;
  }
}

.top-content_item--packageSign {
  position: absolute;
  width: 122px;
  bottom: 35px;
  left: 35px;
}
@media (min-width: 768px) {
  .top-content_item--packageSign {
    width: 36%;
    bottom: 52px;
    left: 90px;
  }
}

.top-content_item--img {
  width: 133px;
}
@media (min-width: 768px) {
  .top-content_item--img {
    width: 282px;
  }
}

.top-content_item--circleBox {
  position: absolute;
  bottom: 20px;
  right: 25px;
}
@media (min-width: 768px) {
  .top-content_item--circleBox {
    bottom: 40px;
    right: 45px;
  }
}

.top-content_item--circle {
  width: 46px;
  height: 46px;
  border-radius: 50%;
  background-color: #F77D79;
  position: relative;
}
@media (min-width: 768px) {
  .top-content_item--circle {
    width: 100px;
    height: 100px;
  }
}
.top-content_item--circle p {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  font-family: "FOT-TsukuGoPro", sans-serif;
  font-size: 10px;
  line-height: 1.4462193823;
  letter-spacing: 0.2em;
  font-weight: 800;
  color: #FDFCFA;
}
@media (min-width: 768px) {
  .top-content_item--circle p {
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    font-size: 20px;
    line-height: 1.4456740443;
  }
}

.top-content_item--gear {
  display: none;
}
@media (min-width: 1024px) {
  .top-content_item--gear {
    display: block;
    width: 24%;
    position: absolute;
    top: -9%;
    right: -35px;
  }
}

.top-content_item--deco {
  display: none;
}
@media (min-width: 1024px) {
  .top-content_item--deco {
    display: block;
    width: 25%;
    position: absolute;
    top: -52px;
  }
}

.top-content_item--heart {
  display: none;
}
@media (min-width: 1024px) {
  .top-content_item--heart {
    display: block;
    width: 20%;
    position: absolute;
    top: -30px;
    right: 10px;
    z-index: 2;
  }
}

.top-content_item--eventTitle {
  width: 109px;
  position: absolute;
}
@media (min-width: 768px) {
  .top-content_item--eventTitle {
    width: 218px;
  }
}

.top-content_event {
  padding: 30px 0;
  gap: 25px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
@media (min-width: 1024px) {
  .top-content_event {
    padding: 47px 0;
    gap: 4%;
  }
}

.top-content_event--box {
  text-align: center;
}

.top-content_event--text {
  font-family: "FOT-TsukuGoPro", sans-serif;
  font-size: 14px;
  line-height: 1.4461221688;
  letter-spacing: 0.02em;
  font-weight: 800;
  text-align: center;
  color: #DEB28B;
  padding-bottom: 30px;
}
@media (min-width: 768px) {
  .top-content_event--text {
    font-size: 31px;
    line-height: 1.445849546;
    letter-spacing: 0.08em;
    padding-bottom: 30px;
  }
}

.top-content_item--exentSign {
  width: 53px;
}
@media (min-width: 768px) {
  .top-content_item--exentSign {
    width: 113px;
  }
}

.top-content_item--moreTitle {
  width: 98px;
}
@media (min-width: 768px) {
  .top-content_item--moreTitle {
    width: 192px;
  }
}

.top-content_more--box {
  position: relative;
  margin: 0 auto;
  text-align: center;
  padding: 10px 0;
  background-color: #FDFCFA;
  border-radius: 15px;
}
@media (min-width: 1024px) {
  .top-content_more--box {
    padding: 30px 0;
    border-radius: 25px;
  }
}

.top-content_more--coming {
  font-family: kinto-sans, sans-serif;
  font-weight: 700;
  font-size: 23px;
  letter-spacing: 0.13em;
  line-height: 2.1073232323;
  font-style: italic;
  background: -webkit-gradient(linear, left top, right top, from(#ef857a), color-stop(50%, #63a2d2), to(#dd8080));
  background: linear-gradient(90deg, #ef857a 0%, #63a2d2 50%, #dd8080 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
@media (min-width: 768px) {
  .top-content_more--coming {
    font-size: 50px;
    line-height: 1.9681782021;
  }
}

.top-content_more--text {
  font-family: "FOT-TsukuGoPro", sans-serif;
  font-size: 12px;
  line-height: 1.6901521217;
  letter-spacing: 0.12em;
  font-weight: 800;
  color: #F6706C;
}
@media (min-width: 768px) {
  .top-content_more--text {
    font-size: 26px;
    line-height: 1.6894856278;
  }
}

.campaign-fv {
  background-color: #FF9199;
}

.campaign-fv_container {
  position: relative;
  height: 254px;
}

.campaign-fv_circle {
  background-color: blue;
  position: absolute;
  width: 230px;
  height: 230px;
  border-radius: 50%;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  top: 50%;
}

.campaign-fv_circleImg {
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  top: 30%;
  width: 295px;
}

.campaign-fv_heart {
  position: absolute;
  right: 0;
  top: 50%;
  width: 200px;
}

.campaign-draw {
  background-color: #FFF9F4;
}

.campaign-draw_title {
  font-family: "FOT-TsukuGoPro", sans-serif;
  color: #F77D79;
  font-weight: bold;
  font-size: 49px;
  line-height: 1.5024489796;
  letter-spacing: 0.09em;
  text-align: center;
  padding-top: 150px;
}

.campaign-draw_img {
  width: 860px;
  margin: 0 auto;
}

.campaign-charm {
  padding: 50px 0;
}

.campaign-charm_title {
  font-family: "FOT-TsukuGoPro", sans-serif;
  color: #F77D79;
  font-weight: bold;
  font-size: 49px;
  line-height: 1.3614285714;
  letter-spacing: 0.13em;
  text-align: center;
}/*# sourceMappingURL=style.css.map */