@use'../foundation/variables' as v;

.footer {
    height: 105px;
    position: relative;

    @include v.tab{
        height: 275px;
    }
}
.footer-bg{
    position: absolute;
    height: 100%;
    width: 100%;
    overflow: hidden;
    background-color: v.$bg-dblue;

    &:after{
        content: "";
        display: inline-block;
        background-image: url(/assets/img/common/footer_back.png);
        background-size: cover;
        background-position: 0;
        width: 100%;
        height: 100%;
        position: relative;
        z-index: 0;
    }
}
.footer-container{
    position: relative;
}
.footer-img{
    position: absolute;
    z-index: 3;
    left: 50%;
    transform: translateX(-50%);
    top: 25px;
    @include v.tab{
        top: 80px;
    }

}
.footer-logo{
    width: 131px;
    display: block;
    margin: 0 auto;
    padding-bottom: 10px;
    @include v.tab{
        width: 293px;
        padding-bottom: 25px;
    }
}
.footer-online{
    display: block;
    width: 102px;
    margin: 0 auto;
    @include v.tab{
        display: block;
        width: 227px;        
    }
}
.footer-img_btm{
    width: 120px;
    top: -40px;
    left: -10px;
    position: absolute;
    z-index: 3;
    @include v.tab{
        width: 250px;
        top: -80px;
        left: -30px;
    }
    @include v.lt{
        width: 310px;
        top: -80px;
        left: 80px;
    }
}
@keyframes ebi_footer {
    0% {
    transform: translateX(50%) rotate(0deg);
    }
    100% {
    transform: translateX(50%) rotate(360deg);
    }
}
.js-rotate.is-inview{
    animation: ebi_footer 6s linear;
}
.footer-ebi_img{
    width: 85px;
    position: absolute;
    z-index: 4;
    top: -5px;
    left: -11%;
    transform: translateX(50%);
    @include v.tab{
        width: 180px;
        top: -15px;
        left: -12%;
    }
    @include v.lt{
        width: 230px;
        top: -9px;
        left: 0%;        
    }
}

.rotateRightZ{
    animation-name:rotateRightZAnime;
    animation-duration:4s;
    animation-fill-mode:forwards;
}

@keyframes rotateRightZAnime{
    from{
        transform: rotateZ(0);
        }
    to{
        transform: rotateZ(360deg);
    }
}