@use'../foundation/variables' as v;

.footer {
    background-color: v.$bg-dblue;
    margin-top: -100px;
    padding: 80px 0 90px 0;
}
.footer-logo{
    width: 293px;
    display: block;
    margin: 0 auto;
    padding-bottom: 25px;
}
.footer-online{
    display: block;
    width: 227px;
    margin: 0 auto;
}