@use'../foundation/variables' as v;
@use "sass:color";

body.is-open {
    height: 100vh;
    overflow-y: hidden;
}

.header-logo{
    display: none;
    @include v.tab{
        display: block;
        width: 274px;
        position: fixed;
        z-index: 980;
        top: 70px;
        transition: transform .3s;
    }
}
.header-hamburger{
    margin-right: 70px;
    display: block;
    background-color: transparent;
    transition: all .3s ease-in-out;
    cursor: pointer;
    margin-left: auto;
    position: relative;
}
.header-hamburger_line{
    display: none;
}
.header-hamburger_line.active{
    display: block;
    position: absolute;
    width: 60px;
    height: 3px;
    transition: inherit;
    animation: fadein 0.5s forwards;
    @include v.tab{
        width: 90px;
    }

    &:before,
    &:after {
        position: absolute;
        display: block;
        width: 100%;
        height: 100%;
        content: "";
        background-color: inherit;
        transition: inherit;
        animation: fadein 0.5s forwards;
    }

    &:before {
        top: 65px;
        right: 5px;
        background-color: v.$text-pink;
        transform: rotate(-45deg);
        @include v.tab{
            right: 75px;
        }
    }

    &:after {
        top: 65px;
        right: 5px;
        background-color: v.$text-pink;
        transform: rotate(45deg);
        @include v.tab{
            right: 75px;
        }
    }
}

.header-nav{
    opacity: 0;
    visibility: hidden;
    transition: 0.5s;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    z-index: 980;
    background-color: v.$bg-cream;
}
.header-nav.active{
    opacity: 1;
    visibility: visible;
    
    
}
.header-nav_lists{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 20px;
}
.header-nav_flex{
    flex-direction: column;

    @include v.lt{
        flex-direction: row;
        justify-content: center;
        gap: 35px;
    }
}
.header-nav_logoLink{
    margin-right: auto;
}
.header-nav_logo{
    width: 221px;
    padding-bottom: 35px;
    @include v.tab{
        width: 390px;
    }
    @include v.lt{
        padding-bottom: 0;
        margin-top: -40px;
    }

}
.header-nav_list{
    li{
        &:nth-child(1){
            padding-bottom: 15px;
        }
        &:nth-child(2){
            padding-bottom: 15px;
        }
        &:nth-child(3){
            padding-bottom: 5px;
        }
        &:nth-child(4){
            padding-bottom: 30px;
            @include v.lt{
                padding-bottom: 30px;
            }
        }
        &:nth-child(5){
            padding-bottom: 30px;
            @include v.lt{
                padding-bottom: 10px;
            }
        }
        &:last-of-type{
            padding-bottom: 0;
        }
    }
}
.header-nav_link{
    display: inline-block;
    gap: 10px;
}
.header_nav_top{
    width: 105px;
    @include v.tab{
        width: 145px;
    }
}
.header_nav_135{
    width: 157px;
    @include v.tab{
        width: 220px;
    }
}
.header_nav_icon{
    width: 43px;
    @include v.tab{
        width: 60px;
    }
}
.header-nav_text{
    font-family: v.$kinto_sans;
    font-weight: 700;
    font-size: 14px;
    letter-spacing: 0.14em;
    line-height: calc(26.74px/18.88px);

    @include v.tab{
        font-size: 26px;
        line-height: calc(26.74px/18.88px);
    }
}
.header-nav_online{
    font-family: v.$kinto_sans;
    font-weight: 700;
    font-size: 14px;
    letter-spacing: 0.05em;
    line-height: calc(26.74px/18.88px);
    @include v.tab{
        font-size: 22px;
    }
}
.header-nav_insta{
    font-family: v.$kinto_sans;
    font-weight: 700;
    font-size: 14px;
    letter-spacing: 0.08em;
    line-height: calc(26.74px/18.88px);
    @include v.tab{
        font-size: 22px;
    }
}
.header-nav_text--pink{
    color: v.$text-pink;
}
.header-nav_text--blue{
    color: v.$bg-dblue;
}
.header-nav_text--gray{
    color: v.$text-gray;
}