@use'../foundation/variables' as v;


main {
  flex: 1;
  overflow: hidden;
  padding-bottom: calc(53px + 60px); //追従footerと余白分

  @include v.tab {
    padding-bottom: calc(66px + 60px); //追従footerと余白分
  }

  @include v.lt {
    padding-bottom: 60px;

  }
}

.main-paddingbottom_0 {
  padding-bottom: 53px; //追従footer分

  @include v.tab {
    padding-bottom: 66px; //追従footer分
  }

  @include v.lt {
    padding-bottom: 0;

  }
}
.main-paddingbottom_fiexdmenu {
  @include v.tab {
    padding-bottom: 129px; //追従footerとメニュー分
  }
  @include v.lt {
    padding-bottom: 0;

  }
}
.main {
  &-layout {
    &_twocols {
      flex-direction: column-reverse;

      @include v.lt {
        flex-direction: row-reverse;
        gap: 32px;
        align-items: stretch !important;
        margin-top: 60px;
      }
      @include v.pc{
        gap: 60px;

      }
    }

    &_sidebar {
      width: 100%;

      @include v.lt {
        width: 210px;
      }
    }

    &_main {
      width: 100%;
      flex: 1;
    }
  }
}