<header class="header">
    <div class="container">
        <img src="/assets/img/common/logo.png" alt="" class="header-logo">
    </div>
    <div class="header-nav js-nav">
        <div class="container">
            <div class="flex header-nav_flex">
                <img src="/assets/img/common/header_nav_logo.png" alt="" class="header-nav_logo">
                <ul class="header-nav_list">
                    <li>
                        <a class="header-nav_link" href="">
                            <img src="/assets/img/common/header_nav_top.png" alt="">
                        </a>
                    </li>
                    <li>
                        <a class="header-nav_link" href="">
                            <img src="/assets/img/common/header_nav_135.png" alt="">
                        </a>
                    </li>
                    <li>
                        <a class="flex header-nav_link" href="">
                            <img src="/assets/img/common/header_nav_manga1.png" alt="">
                            <p class="header-nav_text header-nav_text--pink">
                                人気漫画家が〈ゆかり〉の<br>
                                魅力を漫画で描く！
                            </p>
                        </a>
                    </li>
                    <li>
                        <a class="flex header-nav_link" href="">
                            <img src="/assets/img/common/header_nav_manga2.png" alt="">
                            <p class="header-nav_text header-nav_text--blue">
                                〈ゆかり〉と私<br>
                                おもいで募集キャンペーン
                            </p>
                        </a>
                    </li>
                    <li>
                        <a class="flex header-nav_link" href="">
                            <img src="/assets/img/common/header_nav_online.png" alt="">
                            <p class="header-nav_online">
                                ONLINE STORE
                            </p>
                        </a>
                    </li>
                    <li>
                        <a class="flex header-nav_link" href="">
                            <img src="/assets/img/common/header_nav_insta.png" alt="">
                            <p class="header-nav_insta">
                                instagram
                            </p>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</header>