<header class="header">
    <div class="container">        
        <a href="/" class="header-logo"><img src="/assets/img/common/logo.svg" alt="物件情報BOOK"></a>
    </div>
    <div class="header-nav">
        <div class="container">
            <ul class="flex flex-row header-nav_list">
                <li><a class="flex flex-row" href="/area/"><img src="/assets/img/icon/area.svg" alt="">エリアから探す</a>
                </li>
                <li><a class="flex flex-row" href="/line/"><img src="/assets/img/icon/train.svg" alt="">路線から探す</a></li>
                <li><a class="flex flex-row" href="/feature/"><img src="/assets/img/icon/tokushu.svg" alt="">特集から探す</a>
                </li>
                <li><a class="flex flex-row" href="/guide/"><img src="/assets/img/icon/helpful.svg" alt="">お役立ち情報</a></li>
                <li><a class="flex flex-row" href="/faq.html"><img src="/assets/img/icon/faq.svg" alt="">よくあるご質問</a></li>
            </ul>
        </div>
    </div>
</header>